@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

#main {
    background-color: black;
    display: block;
    width: 100%;
    font-family: 'Lato', sans-serif;
    
}

#question {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.brand-logo {
    margin-left: 10px;
}

.collapsible {
    color: white;
    border-bottom: 1px solid #ddd;
}

/* top section  --*/

.top-social {
    text-align: right;
    margin-bottom: 2px;
    font-size: 100%;
    min-height: 120px;
}

.input-field {
    float: right;
}

.top-social-search {
    text-align: right;
}

.row card-panel {
    text-align: right;
    margin-bottom: 2px;
    font-size: 100%;
    margin-right: 10px;
}

.top-social li {
    display: inline-block;
    padding: 0.5rem;
}

.top-social i {
    color: #827717;
}

.sidenav {
    background-color: #827717;
}

.sidenav li a{
    color: white;
}

/*-- footer section --*/

footer {
    position: absolute;
    background-color: #827717;
    width: 100%;
    height: 200px;   
}

.social-networks {
    text-align: center;
    margin-bottom: 30px;
    font-size: 160%;
}

.social-networks i:hover {
    color: rgb(219, 208, 147)
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 0;
    color: rgb(95, 72, 8);
}

.copyright {
    color: white;
    
}

#image-header {
    background: url("https://8080-tomato-flea-kfbazbs4.ws-eu16.gitpod.io/static/images/photogigbw.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;;
    width: 100%;
}

/*-- modal section --*/

.modal-content-verify {
    background-color: black;
}

.modal-verify .modal-footer-verify {
    background-color: black;
}

.modal-close-verify {
    background-color: white;
}

/*-- main picture  section --*/

.photo {
    width: 100%;
    display: inline-block;
}

.container {
    min-height:900px;
}
#pic-text{
    padding-top: 20%;
    padding-left: 55%;
    margin-bottom: 0;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
#pic-small{
    padding-left: 55%;
    margin-top: 0;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}