@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

 #body {
    background-color: black;
} 

#question {
    color:white;
}

 .brand-logo {
    margin-left: 10px;
} 

.collapsible {
    color:white;
}

