{% extends "base.html" %}
{% block content %}




<div class="row" id="image-header">
    <div class="col s12 intro-text">
        <h3 id="pic-text">A perfect way to end your day.</h3>
        <p id="pic-small">With a soundtrack for every occasion .</p>
    </div>
</div>
<h3 class="white-text text-shadow  center-align">User Blog Feed</h3>
<div class="row">
     {% if tasks|length > 0 %}
<ul class="collapsible">
        {% for task in tasks %}
        <li>
            <div class="collapsible-header white-text lime darken-4 text-shadow">
                <div class="col s9">
                    <i class="fas fa-caret-down"></i>
                    <strong>{{ task.task_name }}</strong> : {{ task.due_date }} <p><em>by: {{ task.created_by }}</em>
                    </p>
                    <!-- Dispaly urgent  -->
                    {% if task.is_urgent == "on" %}
                    <i class="fas fa-exclamation-circle black-text text-lighten-2 tooltipped" data-position="right"
                        data-tooltip="URGENT!"></i>
                    {% endif %}
                </div>
                <div class="col s4" float="right">
                    <!-- loop through tasks to display edits  -->
                    {% if session.user|lower == task.created_by|lower %}
                    <a class="modal-trigger change-button btn-small lime darken-1"
                        href="#modal{{ loop.index }}">Delete</a>

                    <!-- Modal delete Section -->

                    <div id="modal{{ loop.index }}" class="modal" style="background-color: rgb(219, 87, 47);">
                        <div class="modal-content black-text" style="background-color: rgb(219, 87, 47);">
                            <h5> Are you sure you want to delete {{ task.task_name}}?</h5>
                        </div>
                        <div class="modal-footer" style="background-color: rgb(219, 87, 47);">
                            <a href="{{ url_for('get_tasks') }}" class="modal-close  btn-flat">Cancel</a>
                            <a href="{{ url_for('delete_task', task_id=task._id) }}"
                                class="modal-close btn-flat">Delete</a>
                        </div>
                    </div>
                    <a href="{{ url_for('edit_task', task_id=task._id) }}" class="btn-small lime darken-4">Edit</a>
                    {% endif %}
                </div>
            </div>
            <div class="collapsible-body">
                <strong>{{ task.category_name }}</strong>
                <p>{{ task.task_description }}</p>
                <a href="{{ url_for('public_profile', username=task.created_by) }}" class="btn-small lime darken-4">by:
                    {{ task.created_by }}</a>
                <p><em>by: {{ task.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h3 class="red-text text-darken-4 white-text-shadow center-align">No Results Found</h3>
    {% endif %}
</div>
{% endblock %}