{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align text-shadow white-text lime darken-4">
                    {{ username }}'s Profile
                </h3>

                <div>
                    <h3 class="center-align text-shadow white-text lime darken-4">ABOUT ACOUSTRA</h3>
                    <p class="band-info">Acoustra are one of the most versatile wedding bands you will ever see. 20
                         years in the entertainment business means we know how to read a crowd and how to interact with
                        them. Our extensive set incorporates all the music you need for your wedding. <i>Hearing is
                            believing...</i> We are in our element playing to a full room of people up for a good time.
                        All the top country classics for jiving, sets of waltzes, 60"s and 70"s classics that everyone
                        loves to dance to and of course, Irish/Folk and Irish Trad.
                        With accordion as lead instrument we get the floor hopping with a Siege of Ennis, we play
                        popular Irish and Folk Ballads, slow songs for intimate moments on the dance floor, Rock and
                        Roll medleys, Swing and Boogie and up to date chart hits.
                    </p>

                    <div>
                        <img src="assets/images/logo.png" width="300" height="70" alt="Band Logo"> 
                        <img class="photo" src="assets/images/photo.jpg" alt="Band performing at a showcase">
                    </div>

                    <p>
                        <ul class="band-promise">
                           <li>With Acoustra as your wedding band we will learn any song required of us for first dance or any other request.</li>
                           <li>The band you see on the night will be the band you booked.</li>
                           <li>We will dress to a colour theme should you so wish.</li>
                           <li>We will provide entertainment the whole night through.</li>
                           <li>We will guarantee on time arrival to the hotel.</li>
                           <li>We will provide a DJ if required and he will perform 
                               through our set up on the night so there will be zero downtime
                               from the ending of the band berformance to the beginning of the DJ performance.</li>
                           <li>We are well behaved and well dressed, professional, very friendly and approachable.</li>
                           <li>We will work with you up to your big day in any way to help and facilitate your entertainment needs</li>
                        </ul>
                       </p>
                </div>
                <hr>
            </div>
        </div>
    </div>

{% endblock %}